.dashboard {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

/* banner icon as date*/

.dashboard .obsidian-banner-icon .icon-box img
{
    content: url("https://api.wolai.com/v1/icon?type=1&locale=en&it=0&color=grey");
    }






/* end */




.dashboard .markdown-preview-section {
    max-width: 100%;
}

.dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 26pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
}

.dashboard div > ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
    row-gap: 30px;
    flex-flow: row wrap;
}

.dashboard div > ul > li {
    min-width: 250px;
    width: 15%;
}

.dashboard .task-list-item {
    width: 100% !important;
}

ul.contains-task-list.plugin-tasks-query-result {
    row-gap: normal;
}
